*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: lightgray;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4rem;
    margin-bottom: 0.2em;
}

#value{
    font-size: 8rem;
    margin-bottom: 0.2em;
}


.btn{
    padding: 1em;
    border-radius: 1em;
    margin-right: 0.4em;
}
.btn:hover{
    background: black;
    color: white;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.2);
}